// Dark Mode Primary Colors
$primary: #111111!important;
$secondary: #222222!important;
// Navbar Links
$navbar__link__dark: #8e8e8e!important;
$navbar__link__dark_hover: #ffffff!important;
// Card Links
$card__link___dark: #ffffff!important;
$card__link___dark_hover: #eeeeee!important;
// Text Defaults
$txt__decoration_none: none!important;
// Accent Colors
$accent__color_primary: #ff2d20!important;
// Site Header
$header__link__dark: #ffffff!important;
$header__link__dark_hover: #eeeeee!important;